## 문제 1. 
- 다음은 Used car 데이터 세트이다. 주어진 훈련 데이터 세트를 활용하여 중고차의 판매 가격을 예측하고 해당 예측 결과를 csv 파일로 제출하시오.
- 결과 제출 양식 : 제출한 예측값의 rmse 평가지표 값을 통해 영역별 배점에 따라 최종 점수가 반영될 예정

In [2]:
import pandas as pd 
pd.DataFrame({
    "ID"  : [1, 2, 3],
    "y_pred" : [12500, 16500, 11000]
})

   ID  y_pred
0   1   12500
1   2   16500
2   3   11000

In [3]:
import pandas as pd 
X_test = pd.read_csv("data/5회/504_x_test.csv")
X_train = pd.read_csv("data/5회/504_x_train.csv")
y_train = pd.read_csv("data/5회/504_y_train.csv")

In [4]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      7468 non-null   int64
 1   price   7468 non-null   int64
dtypes: int64(2)
memory usage: 116.8 KB

In [5]:
import pandas as pd 
pd.DataFrame({
    "변수" : list(X_train.columns) + ["price"], 
    "설명" : [
        "중고차 ID 번호", 
        "차량 모델명", 
        "차량 등록 연도", 
        "변속기 종류", 
        "주행 거리", 
        "엔진 연료 종류",
        "도로세", 
        "갤런당 마일(miles per gallon), 연비", 
        "엔진 크기",   
        "가격(파운드)"
    ]
})

             변수                            설명
0            id                     중고차 ID 번호
1         model                        차량 모델명
2          year                      차량 등록 연도
3  transmission                        변속기 종류
4       mileage                         주행 거리
5      fuelType                      엔진 연료 종류
6           tax                           도로세
7           mpg  갤런당 마일(miles per gallon), 연비
8    engineSize                         엔진 크기
9         price                       가격(파운드)

## 데이터 확인

In [6]:
X_train.head(1)

   id model  year transmission  mileage fuelType  tax   mpg  engineSize
0   1    A1  2019    Automatic     3500   Petrol  145  40.9         2.0

In [7]:
X_test.head(1)

     id model  year transmission  mileage fuelType  tax   mpg  engineSize
0  7469    A4  2020    Semi-Auto     4000   Diesel  145  54.3         3.0

In [8]:
y_train.head(1)

   id  price
0   1  21350

## 결측치 확인

In [9]:
X_train.isnull().sum()

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [10]:
X_test.isnull().sum()

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

## 컬럼 확인

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7468 non-null   int64
 1   model         7468 non-null   object
 2   year          7468 non-null   int64
 3   transmission  7468 non-null   object
 4   mileage       7468 non-null   int64
 5   fuelType      7468 non-null   object
 6   tax           7468 non-null   int64
 7   mpg           7468 non-null   float64
 8   engineSize    7468 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 525.2+ KB

In [12]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3200 non-null   int64
 1   model         3200 non-null   object
 2   year          3200 non-null   int64
 3   transmission  3200 non-null   object
 4   mileage       3200 non-null   int64
 5   fuelType      3200 non-null   object
 6   tax           3200 non-null   int64
 7   mpg           3200 non-null   float64
 8   engineSize    3200 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 225.1+ KB

In [13]:
X_train['fuelType'].value_counts()

Diesel    3966
Petrol    3484
Hybrid      18
Name: fuelType, dtype: int64

In [14]:
X_train['model'].value_counts()

 A3     1361
 Q3     1010
 A4      968
 A1      952
 Q5      613
 A5      609
 Q2      576
 A6      522
 Q7      257
 TT      233
 A7       86
 A8       78
 Q8       50
 RS6      24
 RS4      24
 RS5      23
 RS3      21
 R8       17
 SQ5      13
 S4        9
 S3        9
 SQ7       4
 S8        4
 S5        3
 A2        1
 RS7       1
Name: model, dtype: int64

- fuelType 기반으로 분리한다. 데이터셋 분리 한다.
- model은 제거한다.

In [15]:
X_train = X_train.drop('model', axis = 1)
X_test = X_test.drop('model', axis = 1)
X_train.shape, X_test.shape

((7468, 8), (3200, 8))

In [16]:
X_train.describe()

,id,year,mileage,tax,mpg,engineSize
count,7468.000000,7468.000000,7468.000000,7468.000000,7468.000000,7468.000000
mean,3734.500000,2017.084762,24978.337306,125.513524,50.980704,1.923741
std,2155.970238,2.143985,23408.243740,66.791388,12.781446,0.594344
min,1.000000,1998.000000,1.000000,0.000000,19.300000,0.000000
25%,1867.750000,2016.000000,6000.000000,125.000000,40.900000,1.500000
50%,3734.500000,2017.000000,19276.500000,145.000000,50.400000,2.000000
75%,5601.250000,2019.000000,36722.750000,145.000000,58.900000,2.000000
max,7468.000000,2020.000000,168017.000000,580.000000,188.300000,6.300000

In [17]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7468 non-null   int64
 1   year          7468 non-null   int64
 2   transmission  7468 non-null   object
 3   mileage       7468 non-null   int64
 4   fuelType      7468 non-null   object
 5   tax           7468 non-null   int64
 6   mpg           7468 non-null   float64
 7   engineSize    7468 non-null   float64
dtypes: float64(2), int64(4), object(2)
memory usage: 466.9+ KB

- MinMaxScaler : mileage, tax, mpg
- OneHotEncoder : transmission, fuelType

## ID 제거

In [18]:
X_train_id = X_train.pop('id')
X_test_id = X_test.pop('id')

X_train.shape, X_test.shape

((7468, 7), (3200, 7))

## 컬럼 추출하기

In [19]:
import numpy as np
cat_cols = list(X_train.select_dtypes(exclude = np.number).columns)
num_cols = list(X_train.select_dtypes(include = np.number).columns)

print(cat_cols)
print(num_cols)

['transmission', 'fuelType']
['year', 'mileage', 'tax', 'mpg', 'engineSize']

In [20]:
num_cols.remove('year')
num_cols.remove('engineSize')
num_cols

['mileage', 'tax', 'mpg']

## 데이터셋 분리

In [21]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(
    X_train, y_train['price'], 
    stratify = X_train['fuelType'], 
    test_size = 0.3, 
    random_state=42
)

X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((5227, 7), (2241, 7), (5227,), (2241,))

## 모델 학습

In [22]:
import sklearn
sklearn.metrics.SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'max_error', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_absolute_percentage_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_root_mean_squared_error', 'neg_mean_poisson_deviance', 'neg_mean_gamma_deviance', 'accuracy', 'top_k_accuracy', 'roc_auc', 'roc_auc_ovr', 'roc_auc_ovo', 'roc_auc_ovr_weighted', 'roc_auc_ovo_weighted', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'neg_brier_score', 'adjusted_rand_score', 'rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted'])

In [41]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from lightgbm import LGBMRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import make_scorer, mean_squared_error

from sklearn.utils.fixes import loguniform

def cal_rmse(y_tr, pred):
    return np.sqrt(mean_squared_error(y_tr, pred))

param_grid = {
    "reg__learning_rate" : loguniform(0.001, 0.1), 
    "reg__n_estimators" : np.arange(50, 200), 
    "reg__max_depth" : np.arange(3, 30, 3), 
    "reg__num_leaves" : np.arange(20, 50), 
    "reg__min_split_gain" : np.arange(0, 1.1, 0.1), 
    "reg__subsample" : np.arange(0.6, 1.0, 0.1)
}

column_transformer = ColumnTransformer([
    ("scaler", MinMaxScaler(), num_cols), 
    ("ohc_encoder", OneHotEncoder(), cat_cols)
], remainder = "passthrough")

pipeline = Pipeline([
    ("preprocessor", column_transformer), 
    ("reg", LGBMRegressor(random_state = 42))
])

random_search = RandomizedSearchCV(
    estimator = pipeline, 
    param_distributions = param_grid, 
    n_iter = 10, 
    # scoring="neg_mean_squared_error", 
    scoring = make_scorer(cal_rmse, greater_is_better = False),
    cv = 5, 
    verbose=1, 
    n_jobs=1
)

random_search.fit(X_tr, y_tr)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5,
                   estimator=Pipeline(steps=[('preprocessor',
                                              ColumnTransformer(remainder='passthrough',
                                                                transformers=[('scaler',
                                                                               MinMaxScaler(),
                                                                               ['mileage',
                                                                                'tax',
                                                                                'mpg']),
                                                                              ('ohc_encoder',
                                                                               OneHotEncoder(),
                                                                               ['transmission',
                                                                                'fuelType'])])),
                                             ('reg',
                                              LGBMRegressor(random_state=42))]),
                   n_jobs=1,
                   param_distributions={'reg__learning_rate': <scipy.stats._distn_inf...
       167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
       180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192,
       193, 194, 195, 196, 197, 198, 199]),
                                        'reg__num_leaves': array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]),
                                        'reg__subsample': array([0.6, 0.7, 0.8, 0.9])},
                   scoring=make_scorer(cal_rmse, greater_is_better=False),
                   verbose=1)

In [38]:
def get_scores(model, X_tr, X_val, y_tr, y_val):
    y_tr_pred = model.predict(X_tr)
    y_val_pred = model.predict(X_val)
    tr_score = cal_rmse(y_tr, y_tr_pred)
    val_score = cal_rmse(y_val, y_val_pred)
    return f'train: {round(tr_score, 4)}, valid: {round(val_score, 4)}'

get_scores(random_search, X_tr, X_val, y_tr, y_val)

'train: 3044.2329, valid: 3219.0465'

In [42]:
best_params = random_search.best_params_
best_score = random_search.best_score_

print("Best_Params:", best_params)
print("Best_Scores:", best_score)

Best_Params: {'reg__learning_rate': 0.018543574394873173, 'reg__max_depth': 15, 'reg__min_split_gain': 0.8, 'reg__n_estimators': 191, 'reg__num_leaves': 28, 'reg__subsample': 0.7999999999999999}
Best_Scores: -3372.8367254800105

## 결과 제출

In [48]:
final_preds = random_search.predict(X_test)
final_preds

array([37415.46614464, 16798.01262842, 33525.54738189, ...,
       18056.13385228, 24400.71827653, 17486.26001988])

In [50]:
result = pd.DataFrame({"id" : X_test_id, "price": np.round(final_preds, 0)})
result

         id    price
0      7469  37415.0
1      7470  16798.0
2      7471  33526.0
3      7472  17752.0
4      7473  13994.0
...     ...      ...
3195  10664  18190.0
3196  10665  12113.0
3197  10666  18056.0
3198  10667  24401.0
3199  10668  17486.0

[3200 rows x 2 columns]